localhost {
    tls internal
    encode zstd gzip

    @api path /api/*
    @api_docs path /docs* /redoc* /openapi.json
    reverse_proxy @api api:8000
    reverse_proxy @api_docs api:8000
    # Serve static frontend files directly
    root * /usr/share/caddy
    try_files {path} {path}/ /index.html
    file_server
}

:80 {
    redir https://{host}{uri} permanent
}
