localhost {
    tls internal
    encode zstd gzip
    log

    root * /usr/share/caddy

    @api path /api/*
    reverse_proxy @api api:8000

    @api_docs path /docs* /redoc* /openapi.json
    reverse_proxy @api_docs api:8000

    @not_api not path /api/* /docs* /redoc* /openapi.json
    handle @not_api {
        try_files {path} {path}/ /index.html
        file_server
    }
}

:80 {
    redir https://{host}{uri} permanent
}
